div.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .sort-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
}

div.subjects-list {
    grid-gap: 20px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > *:hover {
        cursor: pointer;
    }

    & p, h2 {
        width: 100%;
        text-align: justify;
    }

    .subject-info{
        display:flex;
        width:100%;
        justify-content: start;
    }
}


@media screen and (max-width: 850px) {
    div.subjects-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    div.options {
        flex-direction: column;
        align-items: center;
        gap: 10px
    }
}