div.subject-page {
    max-width: 700px;
    margin:auto;

    div.subject-details {
        text-align: justify;

        & > * {
            margin-bottom: 20px;
        }  

        div.subject-info {
            display: flex;

            & > p {
                margin-right: 20px;
            }
        }

        .comment {
            display: flex;
            gap: 20px;
            margin-left: 20px;

            .comment-author {
                flex: 1;
            }

            .comment-content {
                background-color: rgb(238, 238, 238);
                border-radius: 10px;
                padding: 20px;
                width: 70%
            }
        }

        form {
            display:flex;
            align-items: center;
            gap: 20px;
            margin-top:20px;

            .comment-input {
                flex: 1;
            }
        }
    }
}