@use '@angular/material' as mat;

article {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p, h2 {
        width: 100%;
    }

    @include mat.button-overrides((
        container-color:rgb(119, 99, 197),
        label-text-color: white,
    ));
}