<div class="w-full h-[94px] flex felx-row justify-between items-center px-8 border-b-[1px] border-solid border-black bg-white sticky top-0 z-50">
  <img src="assets/logo_p6.png" alt="logo" class="w-[140px] h-[81px]">

  <div *ngIf="!['/login', '/register'].includes(router.url) || !router" class="flex justify-between items-center gap-4">
    <a class="text-2xl" routerLink="/" routerLinkActive="text-purple">Articles</a>
    <a class="text-2xl" routerLink="/topics" routerLinkActive="text-purple">Thèmes</a>
    <a class="w-[48px] h-[48px] rounded-full bg-dark-grey flex items-center justify-center" routerLink="/">
      <i class="fa-regular fa-user fa-2xl" style="color: #6D6D6D;"></i>
    </a>
  </div>
</div>
