<div class="w-full h-[94px] flex felx-row justify-between items-center px-8 border-b-[1px] border-solid border-black bg-white sticky top-0 z-50">
  <img src="assets/logo_p6.png" alt="logo" class="w-[140px] h-[81px]">

  <div class="flex justify-between items-center gap-4">
    <a class="text-2xl" routerLink="/">Articles</a>
    <a class="text-purple text-2xl" routerLink="/">Thèmes</a>
    <a class="w-[48px] h-[48px] rounded-full bg-dark-grey" routerLink="/">
      <i class="fa-light fa-user" style="color: #000000;"></i>
    </a>

  </div>
</div>
