<div>
    <app-back-button />
    <h2>Inscription</h2>
    <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput placeholder="Username" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
        </mat-card-content>
        <app-subscribe-button type="submit" [disabled]="form.invalid">S'inscrire</app-subscribe-button>
        @if (onError) {
            <span class="error">Une erreur s'est produite.</span>   
        }
    </form>
</div>