<div class="header">
    <a routerLink="/"><img src="../../../assets/logo_p6.png" /></a>
    <nav class="menu">
        <a routerLink="/logout"
        routerLinkActive="active-link">Se déconnecter</a>
        <a routerLink="/articles"
        routerLinkActive="active-link">Articles</a>
        <a routerLink="/topics"
        routerLinkActive="active-link">Thèmes</a>
        <a routerLink="/profile"
        routerLinkActive="active-link"><img src="../../../assets/user.png" /></a>
    </nav>
</div>
