<app-back-button />
<div class="post-page">
    <div class="post-details">
        <h2>{{post.name}}</h2>
        <div class="post-info">
            <p>{{post.created_at | date}}</p>
            <p>{{post.author.name}}</p>
            <p>{{post.topic.name}}</p>
        </div>
        <p>{{post.description}}</p>
        <mat-divider></mat-divider>
        <div class="comment-section">
            <h2>Commentaires</h2>
            @for(comment of post.comments; track comment.id) {
                <div class="comment">
                    <p class="comment-author">{{comment.author.name}}</p>
                    <p class="comment-content">{{comment.comment}}</p>
                </div>
            }
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="comment-input">
                    <textarea matInput placeholder="Ajouter un commentaire" formControlName="comment"></textarea>
                </mat-form-field>
                <div (click)="addComment()"><mat-icon>send</mat-icon></div>
            </form>
        </div>
    </div>
</div>
