<mat-sidenav-container class="container">
    <mat-sidenav #sidenav [mode]="'over'" position="end">
        <div class="navbar">
            <app-menu />
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <img src="../../../assets/logo_p6.png" />
            <app-menu class="menu" />
            @if(isMobile){
                <div (click)="open()" class="burger-menu">
                    <mat-icon>menu</mat-icon>
                </div>
            }
        </div>
        <main>
            <router-outlet>
            </router-outlet>  
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
    